# Filtering nouns

In [1]:
import pandas as pd

In [2]:
# For monitoring duration of pandas processes
from tqdm import tqdm, tqdm_pandas

# To avoid RuntimeError: Set changed size during iteration
tqdm.monitor_interval = 0

# Register `pandas.progress_apply` and `pandas.Series.map_apply` with `tqdm`
# (can use `tqdm_gui`, `tqdm_notebook`, optional kwargs, etc.)
tqdm.pandas(desc="Progress:")

# Now you can use `progress_apply` instead of `apply`
# and `progress_map` instead of `map`
# can also groupby:
# df.groupby(0).progress_apply(lambda x: x**2)

/Users/chadjinik/opt/anaconda3/lib/python3.7/site-packages/tqdm/std.py:648: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [3]:
# df0 = pd.read_pickle('../data/interim/004_synonyms_grouped_1k.p')
df0 = pd.read_pickle('../data/interim/002_keyed_nouns.p')

In [4]:
df0.head()

,uniqueKey,reviewText
0,A2XQ5LZHTD4AFT##000100039X,"[timeless, gibran, backs, content, means, ..."
1,AF7CSSGV93RXN##000100039X,"[ prophet, kahlil, gibran, thirty, years, ..."
2,A1NPNGWBVD9AK3##000100039X,"[ first, books, recall, collection, gibran..."
3,A3IS4WGMFR4X65##000100039X,"[prophet, kahlil, work, world, million, c..."
4,AWLFVCT9128JV##000100039X,"[gibran, khalil, gibran, born, one thousan..."

In [5]:
dictionary_df00 = pd.read_pickle('../data/interim/003_dictionary.p')

In [6]:
len(dictionary_df00)

810003

In [7]:
dictionary_df00.head()

     word  frequency
0    book    1503414
1     one     660626
2    read     484457
3    like     403304
4   story     366204

### The idea
Words that only appear once cannot be frequent words even in their own context; so they will be filtered out. Then lets calculate the average frequency for the remaining words--remember; this dictionary does not only concern nouns.

<span style="color:red"> Notice: grouping of noun synonyms done in `004_grouping_domain_synonyms` is repeated here once filtering out nouns is applied, since it will take far less time to be applied on the whole dataset once the latter is filter (`004_grouping_domain_synonyms` was aplied only on 1k reviews)  </span>

In [8]:
dictionary_df00.loc[dictionary_df00['frequency'] > 5].describe()

          frequency
count  1.508030e+05
mean   5.528967e+02
std    6.719492e+03
min    6.000000e+00
25%    1.000000e+01
50%    2.200000e+01
75%    9.200000e+01
max    1.503414e+06

In [9]:
dictionary_df00['word'].loc[dictionary_df00['frequency'] > 4].count()

167645

In [10]:
gt4_dictionary_df01 = dictionary_df00.loc[dictionary_df00['frequency'] > 4]

In [11]:
dictionary_df00['frequency'].loc[dictionary_df00['frequency'] > 4].describe()

count    1.676450e+05
mean     4.978538e+02
std      6.375158e+03
min      5.000000e+00
25%      8.000000e+00
50%      1.800000e+01
75%      7.500000e+01
max      1.503414e+06
Name: frequency, dtype: float64

In [12]:
# Use threshold for first quantile
final_dic = gt4_dictionary_df01.loc[dictionary_df00['frequency'] < 8]
len(final_dic)

38874

In [13]:
final_dic_df01 = final_dic.assign(normalised = final_dic['frequency'].progress_apply(lambda frequency:frequency/486))
final_dic_df01.head()

Progress:: 100%|██████████| 38874/38874 [00:00<00:00, 1148518.11it/s]

            word  frequency  normalised
128771   candids          7    0.014403
128772     sapas          7    0.014403
128773     wayit          7    0.014403
128774    shamen          7    0.014403
128775    arnita          7    0.014403

### Begin noun filtering

In [14]:
df0.head()

,uniqueKey,reviewText
0,A2XQ5LZHTD4AFT##000100039X,"[timeless, gibran, backs, content, means, ..."
1,AF7CSSGV93RXN##000100039X,"[ prophet, kahlil, gibran, thirty, years, ..."
2,A1NPNGWBVD9AK3##000100039X,"[ first, books, recall, collection, gibran..."
3,A3IS4WGMFR4X65##000100039X,"[prophet, kahlil, work, world, million, c..."
4,AWLFVCT9128JV##000100039X,"[gibran, khalil, gibran, born, one thousan..."

In [15]:
df1 = pd.DataFrame(df0.uniqueKey.str.split('##',1).tolist(),columns = ['userId','asin'])
df1.head()

           userId        asin
0  A2XQ5LZHTD4AFT  000100039X
1   AF7CSSGV93RXN  000100039X
2  A1NPNGWBVD9AK3  000100039X
3  A3IS4WGMFR4X65  000100039X
4   AWLFVCT9128JV  000100039X

In [16]:
df_reviewText = pd.DataFrame(df0['reviewText'])
df_reviewText.head()

                                          reviewText
0  [timeless,  gibran,  backs,  content,  means, ...
1  [ prophet,  kahlil,  gibran,  thirty,  years, ...
2  [ first,  books,  recall,  collection,  gibran...
3  [prophet,  kahlil,  work,  world,  million,  c...
4  [gibran,  khalil,  gibran,  born,  one thousan...

In [17]:
df_new = pd.concat([df1, df_reviewText], axis=1)
df_new.head()

,userId,asin,reviewText
0,A2XQ5LZHTD4AFT,000100039X,"[timeless, gibran, backs, content, means, ..."
1,AF7CSSGV93RXN,000100039X,"[ prophet, kahlil, gibran, thirty, years, ..."
2,A1NPNGWBVD9AK3,000100039X,"[ first, books, recall, collection, gibran..."
3,A3IS4WGMFR4X65,000100039X,"[prophet, kahlil, work, world, million, c..."
4,AWLFVCT9128JV,000100039X,"[gibran, khalil, gibran, born, one thousan..."

In [18]:
df_new_01 = df_new.assign(wordCountBefore = df_new['reviewText'].progress_apply(lambda review:len(review)))
df_new_01.head()

Progress:: 100%|██████████| 582711/582711 [00:00<00:00, 1095439.12it/s]

,userId,asin,reviewText,wordCountBefore
0,A2XQ5LZHTD4AFT,000100039X,"[timeless, gibran, backs, content, means, ...",49
1,AF7CSSGV93RXN,000100039X,"[ prophet, kahlil, gibran, thirty, years, ...",19
2,A1NPNGWBVD9AK3,000100039X,"[ first, books, recall, collection, gibran...",74
3,A3IS4WGMFR4X65,000100039X,"[prophet, kahlil, work, world, million, c...",142
4,AWLFVCT9128JV,000100039X,"[gibran, khalil, gibran, born, one thousan...",48

In [19]:
final_dic_df01['word'] = final_dic_df01['word'].progress_apply(lambda word: word.replace(" ",""))
final_dic_df01 = final_dic_df01.reset_index()
final_dic_df01.head()

Progress:: 100%|██████████| 38874/38874 [00:00<00:00, 784366.36it/s]

    index     word  frequency  normalised
0  128771  candids          7    0.014403
1  128772    sapas          7    0.014403
2  128773    wayit          7    0.014403
3  128774   shamen          7    0.014403
4  128775   arnita          7    0.014403

In [20]:
filtered_dict = final_dic_df01['word'].to_dict()
inv_filtered_dict = {v: k for k, v in filtered_dict.items()}
inv_filtered_dict

{'candids': 0,
 'sapas': 1,
 'wayit': 2,
 'shamen': 3,
 'arnita': 4,
 'gazzy': 5,
 'faltha': 6,
 'charcterization': 7,
 'sevenbook': 8,
 'moomintroll': 9,
 'onionlike': 10,
 'schars': 11,
 'polemicism': 12,
 'brevet': 13,
 'nakamuras': 14,
 'maximum': 15,
 'riviere': 16,
 'caricatural': 17,
 'hornbook': 18,
 'romanum': 19,
 'storyby': 20,
 'oopsie': 21,
 'singletitle': 22,
 'brawns': 23,
 'chatacter': 24,
 'awoman': 25,
 'suzy': 26,
 'exwrestler': 27,
 'safty': 28,
 'rossums': 29,
 'applequist': 30,
 'deatri': 31,
 'zerek': 32,
 'dirmann': 33,
 'alongand': 34,
 'teenyboppers': 35,
 'coban': 36,
 'manchester': 37,
 'brent': 38,
 'sedge': 39,
 'persoanlly': 40,
 '7mm': 41,
 'futureworld': 42,
 'glimpses': 43,
 'sharrow': 44,
 'lorkin': 45,
 'sachaka': 46,
 'lissys': 47,
 'malinda': 48,
 'websurfing': 49,
 'etceteras': 50,
 'mindanao': 51,
 'souvlaki': 52,
 'madlibs': 53,
 'darkwing': 54,
 'allbeit': 55,
 'vayl': 56,
 'lessee': 57,
 'polchinski': 58,
 'wellproportioned': 59,
 'highers': 60,
 'wackedout': 61,
 'tauntingly': 62,
 'eightyearold': 63,
 'mislabled': 64,
 'flore': 65,
 'tibbetts': 66,
 'niederhoffers': 67,
 'rhodesians': 68,
 'romace': 69,
 'dejonge': 70,
 'devens': 71,
 'merion': 72,
 'maloof': 73,
 'intself': 74,
 'mixon': 75,
 'zhong': 76,
 'ahtan': 77,
 'auhor': 78,
 'niccis': 79,
 'zedds': 80,
 'fivethousand': 81,
 'extralong': 82,
 'capitivity': 83,
 'cthulhus': 84,
 'allohistorical': 85,
 'category': 86,
 'aone': 87,
 'tirith': 88,
 'lornth': 89,
 'coring': 90,
 'katos': 91,
 'existence': 92,
 'miniquest': 93,
 'talkingheads': 94,
 'padraic': 95,
 'anette': 96,
 'yourselfi': 97,
 'macdermott': 98,
 'footrace': 99,
 'massenergy': 100,
 'hartwells': 101,
 'foreverthe': 102,
 'moonheart': 103,
 'yesod': 104,
 'luczaks': 105,
 'aimes': 106,
 'honoras': 107,
 'dreys': 108,
 'nonphilosophical': 109,
 'rhialto': 110,
 'fictionfantasy': 111,
 'mikalya': 112,
 'cuhulain': 113,
 'dangereuse': 114,
 'realeased': 115,
 'weretigers': 116,
 'fomorii': 117,
 'storiesi': 118,
 'robberyhomicide': 119,
 'nonbosch': 120,
 'surpises': 121,
 'sereis': 122,
 'skotos': 123,
 'nykyrian': 124,
 'valchek': 125,
 'cubbies': 126,
 'kittredges': 127,
 'gratutitous': 128,
 'captiva': 129,
 'progenies': 130,
 'lowfrequency': 131,
 'gulo': 132,
 'longcherished': 133,
 'avar': 134,
 'valedon': 135,
 'valans': 136,
 'parthenogenesis': 137,
 'bobbit': 138,
 'adikor': 139,
 'qirsi': 140,
 'goblinkin': 141,
 'sainnites': 142,
 'pellaz': 143,
 'homophone': 144,
 'eidolons': 145,
 'agiel': 146,
 'horselike': 147,
 'scimina': 148,
 'vulcanears': 149,
 'magicusing': 150,
 'fredas': 151,
 'ambros': 152,
 'nazification': 153,
 'phenol': 154,
 'bakeshop': 155,
 'peterhof': 156,
 'toti': 157,
 'summaryi': 158,
 'indead': 159,
 'eople': 160,
 'nyberg': 161,
 'kildall': 162,
 'chronological': 163,
 'passionand': 164,
 '500odd': 165,
 'awefull': 166,
 'hawk': 167,
 'pob': 168,
 'cst': 169,
 'sacculina': 170,
 'coochie': 171,
 'thatthese': 172,
 'mitchellcoauthor': 173,
 'sofrep': 174,
 'bloodynine': 175,
 'glotka': 176,
 'sixshooters': 177,
 'rothfusss': 178,
 'duelists': 179,
 'gunwielding': 180,
 'gabriella': 181,
 'ign': 182,
 'freireich': 183,
 'thatnot': 184,
 'tandys': 185,
 'inoculating': 186,
 'prevaricating': 187,
 'heggan': 188,
 'atsugi': 189,
 'rooseveltian': 190,
 'selfsoothe': 191,
 'stayathomemom': 192,
 'mambypamby': 193,
 'hardigree': 194,
 'housebuilding': 195,
 'alleven': 196,
 'cursed': 197,
 'hushs': 198,
 'candacekof': 199,
 'selfsearching': 200,
 'timethere': 201,
 'carded': 202,
 'tieger': 203,
 'enfp': 204,
 'hantavirus': 205,
 'depends': 206,
 'selfpublishes': 207,
 'vhari': 208,
 'thatmost': 209,
 'bermondsey': 210,
 'schulzes': 211,
 'troubleand': 212,
 'sandbagged': 213,
 'freedomand': 214,
 'stymies': 215,
 'nonsexist': 216,
 'sameday': 217,
 'mindshattering': 218,
 'overobvious': 219,
 'keidis': 220,
 'laydown': 221,
 'streetsmarts': 222,
 'obeysekere': 223,
 'aj': 224,
 'psywar': 225,
 'jemison': 226,
 'knowed': 227,
 'paint': 228,
 'exilic': 229,
 'prophecied': 230,
 'itex': 231,
 'downum': 232,
 'specifially': 233,
 'rawlinss': 234,
 'hokitika': 235,
 'mannering': 236,
 'ripped': 237,
 'ethologists': 238,
 'spiritwalker': 239,
 'zombieish': 240,
 'firebomb': 241,
 'energyintensive': 242,
 'leaford': 243,
 'farhad': 244,
 'africanized': 245,
 'amirrezvani': 246,
 'godlings': 247,
 'girdlegard': 248,
 'prolyl': 249,
 'phenyl': 250,
 'glutaminyl': 251,
 'arginyl': 252,
 'gallium': 253,
 'poptart': 254,
 'korytas': 255,
 'nailers': 256,
 'noninteresting': 257,
 'ocho': 258,
 'alexia': 259,
 'newlycreated': 260,
 'reddening': 261,
 '5plot': 262,
 'expell': 263,
 'waksal': 264,
 'subtitute': 265,
 'cookbookthe': 266,
 'ciasponsored': 267,
 'stelian': 268,
 '5writing': 269,
 'belowi': 270,
 'crowbars': 271,
 'jaywalkers': 272,
 'exlaw': 273,
 'voldemorts': 274,
 'cants': 275,
 'tigres': 276,
 'gbs': 277,
 'narrows': 278,
 'feiges': 279,
 'indichova': 280,
 'cocaptain': 281,
 '1chapter': 282,
 'optimisim': 283,
 'abrahamson': 284,
 'powerhouse': 285,
 'zowie': 286,
 'grouches': 287,
 'loupe': 288,
 'myfanwys': 289,
 'myfawny': 290,
 'ralpha': 291,
 'explenation': 292,
 'ochres': 293,
 'adytum': 294,
 'percipience': 295,
 'corgis': 296,
 'onesies': 297,
 'cakechocolate': 298,
 'spark': 299,
 'viron': 300,
 'boppers': 301,
 'cauthon': 302,
 'voilent': 303,
 'ankas': 304,
 'colostomy': 305,
 'labrynthine': 306,
 'divagations': 307,
 'joana': 308,
 'greenberger': 309,
 'roxelana': 310,
 'wukong': 311,
 'partnersincrime': 312,
 'maudies': 313,
 'cach': 314,
 'entrepeneurial': 315,
 'cabral': 316,
 'flatworms': 317,
 'tweetie': 318,
 'sunee': 319,
 'kramisha': 320,
 'disorients': 321,
 'camisoles': 322,
 'reasonby': 323,
 'jacis': 324,
 'moony': 325,
 'threephase': 326,
 'agatson': 327,
 'sirk': 328,
 'stitch': 329,
 '14years': 330,
 'licketysplit': 331,
 'tromped': 332,
 'ishigamis': 333,
 'congressionally': 334,
 'surette': 335,
 'speeddial': 336,
 'weathy': 337,
 'genrebut': 338,
 'oboist': 339,
 'islamicized': 340,
 'sciascias': 341,
 'biopsychology': 342,
 'languange': 343,
 'seamiest': 344,
 'smilin': 345,
 'allabsorbing': 346,
 'tritone': 347,
 'webern': 348,
 'reintroductions': 349,
 'occupationally': 350,
 'psychothriller': 351,
 'sampath': 352,
 'bloodbrothers': 353,
 'closest': 354,
 'kefauver': 355,
 'gainess': 356,
 'presenting': 357,
 'kerch': 358,
 'ekgs': 359,
 'triangle': 360,
 'rachmaninov': 361,
 'stanislavskys': 362,
 'rosemans': 363,
 'pseudopatriotic': 364,
 'mcmanus': 365,
 'specificities': 366,
 'betimes': 367,
 'relieved': 368,
 '1950s60': 369,
 'servicebased': 370,
 'genevas': 371,
 'issure': 372,
 'belligerant': 373,
 'extirpated': 374,
 'highlyentertaining': 375,
 'sleptby': 376,
 'branzillo': 377,
 'peoplewatching': 378,
 'forshadowed': 379,
 'assualts': 380,
 'jackhammers': 381,
 'asas': 382,
 'medicalindustrial': 383,
 'hippa': 384,
 'unfamilliar': 385,
 'wheelman': 386,
 'exgirl': 387,
 'shakepeares': 388,
 'neilan': 389,
 'retyping': 390,
 'buckhead': 391,
 'alteredstate': 392,
 'zardo': 393,
 'differenct': 394,
 'holberg': 395,
 'deese': 396,
 'unexplainably': 397,
 'marketbuy': 398,
 'vantreases': 399,
 'blackingham': 400,
 'derridean': 401,
 'crumby': 402,
 'nappis': 403,
 '11am': 404,
 'bedfellow': 405,
 'puryear': 406,
 'salesy': 407,
 'jadas': 408,
 'msu': 409,
 'abovereferenced': 410,
 'weightbearing': 411,
 'estrogenic': 412,
 'contraints': 413,
 'dilys': 414,
 'nikkie': 415,
 'proginoskes': 416,
 'fingleton': 417,
 'gingrich': 418,
 'oiler': 419,
 'whitson': 420,
 'farradays': 421,
 'reinemarie': 422,
 'beauvior': 423,
 'montana': 424,
 'vasty': 425,
 'capillary': 426,
 'insync': 427,
 'tembo': 428,
 'sorens': 429,
 'decrypting': 430,
 'kistle': 431,
 'astory': 432,
 'vegis': 433,
 'alpa': 434,
 'chewier': 435,
 'rathgeber': 436,
 'lixia': 437,
 'congee': 438,
 'saginaw': 439,
 'hayworths': 440,
 'nutritionrelated': 441,
 'mapleton': 442,
 'lindelof': 443,
 'trueness': 444,
 'morton': 445,
 'engram': 446,
 'diiulio': 447,
 'zoey': 448,
 'liliuokalani': 449,
 'blandford': 450,
 'oathsworn': 451,
 'p37': 452,
 'storyfor': 453,
 'boughtons': 454,
 'gigatons': 455,
 'brackston': 456,
 'avowals': 457,
 'kourtney': 458,
 'helvenston': 459,
 'bestperforming': 460,
 'yalis': 461,
 'mmp': 462,
 'corvo': 463,
 'manup': 464,
 'dwi': 465,
 'ultrarightwing': 466,
 'ostlundh': 467,
 'protagnist': 468,
 'tenderizing': 469,
 'muties': 470,
 'habitations': 471,
 'youknow': 472,
 'ouellet': 473,
 'sixhundredandfortythousand': 474,
 'thengovernor': 475,
 'waives': 476,
 'bodenstein': 477,
 'nele': 478,
 'stefanies': 479,
 'oppositesattract': 480,
 'writerbut': 481,
 'marinn': 482,
 'kinbaku': 483,
 'benot': 484,
 'verylittle': 485,
 'hsa': 486,
 'herea': 487,
 'moreabout': 488,
 'maddisons': 489,
 'payor': 490,
 'borefest': 491,
 'radha': 492,
 'prosocialist': 493,
 'siggy': 494,
 'darkfriends': 495,
 'vernor': 496,
 'shayol': 497,
 'insectile': 498,
 'sharina': 499,
 'barcas': 500,
 'asmodean': 501,
 'ashaman': 502,
 'theprevious': 503,
 'rhuidean': 504,
 'slueths': 505,
 'poetrythe': 506,
 'delphiki': 507,
 'sauscony': 508,
 'everness': 509,
 'atto': 510,
 'adornettos': 511,
 'lipsytes': 512,
 'lethe': 513,
 'lance': 514,
 'etrade': 515,
 'presales': 516,
 'uggs': 517,
 'otl': 518,
 'hipped': 519,
 'invalidism': 520,
 'saxtons': 521,
 'goodacre': 522,
 'jkf': 523,
 'undertreated': 524,
 'paperbark': 525,
 'tambora': 526,
 'haudas': 527,
 'joesbury': 528,
 'octa': 529,
 'mimick': 530,
 'taming': 531,
 'teensiest': 532,
 'rachets': 533,
 'stanfield': 534,
 'taqiyya': 535,
 'sharpssf': 536,
 'bonansinga': 537,
 'shanshan': 538,
 'hydrostatic': 539,
 'roti': 540,
 'razorland': 541,
 'surival': 542,
 'goriness': 543,
 'nightshifted': 544,
 'backbut': 545,
 'rosnays': 546,
 'baumgartners': 547,
 'smoosh': 548,
 'blankfaced': 549,
 'pyromaniacs': 550,
 'bruhn': 551,
 'unviable': 552,
 'orrens': 553,
 'speedups': 554,
 'crackly': 555,
 'fourleaf': 556,
 'maclemoore': 557,
 'reshuffle': 558,
 'impulse': 559,
 'freemarketeers': 560,
 'pontelliers': 561,
 'moreto': 562,
 'noumena': 563,
 'maneless': 564,
 'maryjanice': 565,
 'bratwurst': 566,
 'camile': 567,
 'marcheline': 568,
 'geminis': 569,
 'guatemalans': 570,
 'percenters': 571,
 'ruhollah': 572,
 'f111': 573,
 'ghwb': 574,
 'meen': 575,
 'nasally': 576,
 'levene': 577,
 'fini': 578,
 'collen': 579,
 'horrorstruck': 580,
 'pooly': 581,
 'throttles': 582,
 'antarcticas': 583,
 'jmt': 584,
 'twothousandandforty-two': 585,
 'flummery': 586,
 'ohsomany': 587,
 'amongs': 588,
 'weasle': 589,
 'hartnett': 590,
 'nonviable': 591,
 'carmella': 592,
 'dysmorphic': 593,
 'borroughs': 594,
 'ultraorthodoxy': 595,
 'hamrick': 596,
 'chayil': 597,
 'pinkus': 598,
 'saught': 599,
 'lcwr': 600,
 'emmitsburg': 601,
 'aliceinwonderland': 602,
 'reallllly': 603,
 'pinkwater': 604,
 'conradian': 605,
 'collections': 606,
 'boop': 607,
 'sugarville': 608,
 'parfords': 609,
 'blowjob': 610,
 'brendan': 611,
 'icequeen': 612,
 'harlequinjunkie': 613,
 'staying': 614,
 'brazell': 615,
 'romancy': 616,
 'sitian': 617,
 'equines': 618,
 'severns': 619,
 'iam': 620,
 'strums': 621,
 'higginss': 622,
 'kresely': 623,
 'elopements': 624,
 'devlin': 625,
 'pilby': 626,
 'notsopleasant': 627,
 'heartbeat': 628,
 'colgan': 629,
 'lonetree': 630,
 'sherrifs': 631,
 'ourselfs': 632,
 'loisa': 633,
 'nairna': 634,
 'annjas': 635,
 'cathartically': 636,
 'weensy': 637,
 'ladon': 638,
 'conquor': 639,
 'aerons': 640,
 'rivenhall': 641,
 'salford': 642,
 'smythesewn': 643,
 'addiciton': 644,
 'unterwegers': 645,
 'selfstimulation': 646,
 'frazen': 647,
 'storiesof': 648,
 'sothat': 649,
 'thassas': 650,
 'telecommute': 651,
 'fastaction': 652,
 'inabilty': 653,
 'misallocated': 654,
 'joonas': 655,
 'vascillates': 656,
 'handstands': 657,
 'ede': 658,
 'pinol': 659,
 'leake': 660,
 'ameisen': 661,
 'longchamp': 662,
 'burned': 663,
 'shelly': 664,
 'acidophilus': 665,
 'energ': 666,
 'dietbook': 667,
 'leones': 668,
 'yvonne': 669,
 'attendence': 670,
 'tarpaper': 671,
 'boyland': 672,
 'telecasts': 673,
 'caricaturelike': 674,
 'surronding': 675,
 'ironists': 676,
 'semsandbergs': 677,
 'inflammations': 678,
 'palacios': 679,
 'marcones': 680,
 'westerneducated': 681,
 'horserace': 682,
 'brogues': 683,
 'alainn': 684,
 'merope': 685,
 'leyers': 686,
 'fazes': 687,
 'witchiness': 688,
 'supplicants': 689,
 'plenimar': 690,
 'klia': 691,
 'ligation': 692,
 'alljust': 693,
 'jaime': 694,
 'doovers': 695,
 'sodomite': 696,
 'scrappers': 697,
 'tormod': 698,
 'loveyou': 699,
 'patrickgoudreau': 700,
 'mayham': 701,
 'hilzoy': 702,
 'relized': 703,
 'caspers': 704,
 'hotel': 705,
 'lallybroch': 706,
 'ballons': 707,
 '5yr': 708,
 'redicks': 709,
 'chathrand': 710,
 'naga': 711,
 'pageturning': 712,
 'dumba': 713,
 'copyandpaste': 714,
 'greedo': 715,
 'waaaayyy': 716,
 'foulplay': 717,
 '100calorie': 718,
 'potentional': 719,
 'stormys': 720,
 'delarua': 721,
 'darleigh': 722,
 'propers': 723,
 'vivaamarisata': 724,
 'nametag': 725,
 'joepa': 726,
 'zzzzzzz': 727,
 'mcquarrie': 728,
 'rookie': 729,
 'blackheath': 730,
 'richerand': 731,
 'sumness': 732,
 'imbeds': 733,
 'trustbuilding': 734,
 'brno': 735,
 'turrow': 736,
 'nickies': 737,
 'presentand': 738,
 'mcinnis': 739,
 'uppercuts': 740,
 'jamb': 741,
 'vegetarianfriendly': 742,
 'likker': 743,
 'slaws': 744,
 'lanced': 745,
 'renu': 746,
 'strnad': 747,
 'minutes': 748,
 'minimumsecurity': 749,
 'yarber': 750,
 'nonathlete': 751,
 'corban': 752,
 'foodsand': 753,
 '8g': 754,
 'manifesta': 755,
 'renners': 756,
 'mighthave': 757,
 'bernadino': 758,
 'singsing': 759,
 'naohiro': 760,
 'weaponization': 761,
 'highlyrecommend': 762,
 'viet': 763,
 'periscos': 764,
 'azeri': 765,
 'fazioli': 766,
 'quartier': 767,
 'threatend': 768,
 'texasstyle': 769,
 'inaugurate': 770,
 'tuesday': 771,
 'drumont': 772,
 'hayday': 773,
 'heigh': 774,
 'razorbacks': 775,
 'yn': 776,
 'conure': 777,
 'starbursts': 778,
 'mafiastyle': 779,
 'blixs': 780,
 'mouselike': 781,
 'boxcutter': 782,
 'skyisfalling': 783,
 'sigmund': 784,
 'osler': 785,
 'alternadad': 786,
 'icewater': 787,
 'mcelvaines': 788,
 'junkscience': 789,
 'hjelms': 790,
 'palawan': 791,
 'hardright': 792,
 'lowfunctioning': 793,
 'ninetyminute': 794,
 'nonnuclear': 795,
 'algers': 796,
 'camp': 797,
 'lanya': 798,
 'ramlogan': 799,
 'cutglass': 800,
 'mente': 801,
 'gemini': 802,
 'whish': 803,
 'mainlines': 804,
 'kingdon': 805,
 'eurydike': 806,
 'avante': 807,
 'relato': 808,
 'upone': 809,
 'undertstand': 810,
 'cyclotron': 811,
 'martial': 812,
 'polymorphous': 813,
 'avedon': 814,
 'regnault': 815,
 'similarlooking': 816,
 'castells': 817,
 'markoe': 818,
 'overgrazing': 819,
 'baling': 820,
 'dehli': 821,
 'tramonto': 822,
 'onmy': 823,
 'journo': 824,
 'baycol': 825,
 'scandles': 826,
 'rashad': 827,
 'aladdins': 828,
 'polonophobic': 829,
 'godbold': 830,
 'lousia': 831,
 'life4': 832,
 'maximising': 833,
 'mgt': 834,
 'lewys': 835,
 'sinterklaas': 836,
 'wellknit': 837,
 'mothergoddess': 838,
 'maggid': 839,
 'nymphomaniacs': 840,
 'agabus': 841,
 'worthiest': 842,
 'avsey': 843,
 'karamazovs': 844,
 'lipsmacking': 845,
 'apas': 846,
 'catsup': 847,
 'recopies': 848,
 'wineapples': 849,
 'aylward': 850,
 'jenkinson': 851,
 'macmann': 852,
 'specialforces': 853,
 'planation': 854,
 'critisizing': 855,
 'nachtwey': 856,
 'movabletype': 857,
 'litres': 858,
 'frisbees': 859,
 'neoslavery': 860,
 'amparo': 861,
 'polically': 862,
 'bombthrower': 863,
 'multiuser': 864,
 'margauxs': 865,
 'usisraeli': 866,
 'krasnansky': 867,
 'joon': 868,
 'glendinnings': 869,
 'kansans': 870,
 'heyman': 871,
 'esztherhas': 872,
 'toussaints': 873,
 'jeanmichel': 874,
 'spoonbread': 875,
 'be2': 876,
 'romancegenre': 877,
 'tfotc': 878,
 'internationalized': 879,
 'bvm': 880,
 'tocm': 881,
 'zubin': 882,
 'shadrack': 883,
 'stromboli': 884,
 'adb': 885,
 'commodify': 886,
 'landholding': 887,
 'acts': 888,
 'militiary': 889,
 'themselfs': 890,
 'enthusastic': 891,
 'taite': 892,
 'wil': 893,
 'haygoods': 894,
 'vakeel': 895,
 'yezads': 896,
 'orkneys': 897,
 'depersonalizing': 898,
 'anticonfederate': 899,
 'warner': 900,
 'phisical': 901,
 'tightlycontrolled': 902,
 'village': 903,
 'guiltlessly': 904,
 'nechayev': 905,
 'moorhead': 906,
 'eep': 907,
 'greenlander': 908,
 'inerva': 909,
 'ghetel': 910,
 'pertwee': 911,
 'sigfrid': 912,
 'pohls': 913,
 'revelstone': 914,
 'bloodguard': 915,
 'casks': 916,
 'chickenheads': 917,
 'stillactive': 918,
 'moodily': 919,
 'reuel': 920,
 'videssos': 921,
 'discused': 922,
 'tonios': 923,
 'outofthebody': 924,
 'englishisbn': 925,
 'yuriy': 926,
 'dokken': 927,
 'druss': 928,
 'lessas': 929,
 'shanarra': 930,
 'mankzin': 931,
 'absurds': 932,
 'eldar': 933,
 'paddocks': 934,
 'kinswoman': 935,
 'doriath': 936,
 'arwens': 937,
 'mister': 938,
 'astrogator': 939,
 'infastructure': 940,
 'robet': 941,
 'ojo': 942,
 'ringworld': 943,
 'fueding': 944,
 'emaleth': 945,
 'mailer': 946,
 'muchchanged': 947,
 'iantine': 948,
 'dragonet': 949,
 'supermind': 950,
 'shock': 951,
 'elbryan': 952,
 'dactyl': 953,
 'ressurrection': 954,
 'ifhe': 955,
 'fundimental': 956,
 'lifeextension': 957,
 'devinci': 958,
 'geas': 959,
 'narcissm': 960,
 'rivan': 961,
 'selfauthentication': 962,
 'pendulous': 963,
 'unrepairable': 964,
 'starkweather': 965,
 'technosavvy': 966,
 'knockknock': 967,
 'lempriere': 968,
 'fueds': 969,
 'onethousandandfifty-eight': 970,
 'crystalizes': 971,
 'distressful': 972,
 'donleavys': 973,
 'starcave': 974,
 'abase': 975,
 'vestieri': 976,
 'barfields': 977,
 'tsarskoe': 978,
 'asan': 979,
 'conservations': 980,
 'hells': 981,
 'alethiometer': 982,
 'miniencyclopedia': 983,
 'shgall': 984,
 'spoilersso': 985,
 'raster': 986,
 '15years': 987,
 'colorspace': 988,
 'featurerich': 989,
 '170page': 990,
 'windups': 991,
 'openssh': 992,
 'hijax': 993,
 'newb': 994,
 'toolusing': 995,
 'lamothe': 996,
 'aspx': 997,
 'softboxes': 998,
 'helloworld': 999,
 ...}

In [21]:
def filter_words(review):
    new_review = []
    for word in review:
        word = word.strip()
        if word in inv_filtered_dict:
            new_review.append(word)
    return new_review

In [22]:
df_new_02 = df_new_01.assign(filteredText = df_new_01['reviewText'].progress_apply(lambda review:filter_words(review)))

Progress:: 100%|██████████| 582711/582711 [00:10<00:00, 54597.78it/s]

In [23]:
df_new_03 = df_new_02.assign(wordCountAfter = df_new_02['filteredText'].progress_apply(lambda review:len(review)))
df_new_03[0:20]

Progress:: 100%|██████████| 582711/582711 [00:00<00:00, 954656.65it/s]

,userId,asin,reviewText,wordCountBefore,filteredText,wordCountAfter
0,A2XQ5LZHTD4AFT,000100039X,"[timeless, gibran, backs, content, means, ...",49,"[mouth, sail, messege]",3
1,AF7CSSGV93RXN,000100039X,"[ prophet, kahlil, gibran, thirty, years, ...",19,[],0
2,A1NPNGWBVD9AK3,000100039X,"[ first, books, recall, collection, gibran...",74,"[catechism, texts, siddhartha, contain, preach...",8
3,A3IS4WGMFR4X65,000100039X,"[prophet, kahlil, work, world, million, c...",142,"[visions, emerson, critic, claude, intuition, ...",7
4,AWLFVCT9128JV,000100039X,"[gibran, khalil, gibran, born, one thousan...",48,"[strict, almustafa, manner]",3
5,AFY0BT42DDYZV,000100039X,"[days, gibrans, gets, literature, yet, bo...",177,"[fame, twentysix, confidence, sane, drama, sag...",9
6,A25P6DY6ARTCGZ,000100039X,"[book, gibran, took, millions, encapsulate...",29,"[manner, existence, universal]",3
7,A1SP45I55GQIIE,000100039X,"[ words, kahlil, gibran, divine, wisdom, ...",35,[],0
8,A2E71VWXO59342,000100039X,"[prophet, dispenses, wisdom, ones, bids, ...",30,"[define, ability]",2
9,A2OP1HD9RGX5OW,000100039X,"[book, myth, work, beauty, whose, every, ...",42,"[till, simplicity, gut, speaks]",4
10,A2052JNVUPRTMT,000100039X,"[ gets, bedrock, man, prophet, anyone, wo...",43,[signs],1
11,AGKPTMTR3UX1R,000100039X,"[kahlil, eighteen million, poet, mystic, n...",50,"[finer, includes, spoke]",3
12,A1HS49P9TZRGV9,000100039X,"[ book, collection, remember, around, twel...",68,[talks],1
13,A2ZZHMT58ZMVCZ,000100039X,"[prophet, years, ship, back, homeland, kn...",111,"[contain, pillars, exile]",3
14,A3W43PSHRIG8KV,000100039X,"[ aware, kahlil, gibran, read, poem, menu...",46,[],0
15,A1TR1LU2JSZLUL,000100039X,"[book, gift, journeyed, overseas, quest, ...",39,"[overseas, enlightenment, layers]",3
16,ADIDQRLLR4KBQ,000100039X,"[atheist, may, seem, strange, people, boo...",90,"[holds, includes, states]",3
17,A3AW2ZG0GP4SKN,000100039X,"[ book, son, stolen, despair, resonance, ...",11,[souls],1
18,A2MMON52VMO7NT,000100039X,"[gibrans, words, lay, bare, simplicity, t...",23,[simplicity],1
19,AR72Z89LACZ8Q,000100039X,"[ departure, prophet, people, gather, arou...",26,[gather],1

In [24]:
remaining = 1 - df_new_03['wordCountAfter'].sum() / df_new_03['wordCountBefore'].sum()

In [25]:
print("Average noun reduction achieved:" + str(remaining*100) + "%")

Average noun reduction achieved:94.83271612887818%

## Association Rules Mining Filtering

In [26]:
df_books_bigReviews = pd.DataFrame(df_new_03[['asin','filteredText']].groupby(['asin'])['filteredText'].progress_apply(list))
df_books_bigReviews = df_books_bigReviews.reset_index()
df_books_bigReviews = df_books_bigReviews.assign(transactions = df_books_bigReviews['filteredText'].progress_apply(lambda reviews_lis:len(reviews_lis)))
df_books_bigReviews.head()

Progress:: 100%|██████████| 59324/59324 [00:04<00:00, 14441.45it/s]
Progress:: 100%|██████████| 59324/59324 [00:00<00:00, 1036502.92it/s]

         asin                                       filteredText  transactions
0  000100039X  [[mouth, sail, messege], [], [catechism, texts...            30
1  0002051850  [[montana, root, thee, thou, cause, cause], [h...            31
2  0002113570  [[], [continues, usfor, continues], [observati...             7
3  0002117088  [[goodnight, therapy, claude, sunny, claude, s...             5
4  000215725X  [[], [experts], [authority, perpetual, intervi...            11

In [27]:
from apyori import apriori

# Support
# Support is an indication of how frequently the itemset appears in the dataset.
# Confidence
# Confidence is an indication of how often the rule has been found to be true.
# Lift
# The ratio of the observed support to that expected if X and Y were independent.
def apply_arm(transactions):
    return list(apriori(transactions, min_support = 1/len(transactions), min_confidence = 1, min_lift = len(transactions), max_length = 4))

In [ ]:
books_with_arm = df_books_bigReviews.assign(arm = df_books_bigReviews['filteredText'].progress_apply(lambda list_of_reviews:apply_arm(list_of_reviews)))

Progress::   9%|▉         | 5403/59324 [4:23:32<32:38:14,  2.18s/it]

In [ ]:
books_with_arm.head()

In [29]:
def get_important_nouns(arms):
    imp_nns = []
    if "items" in pd.DataFrame(arms).keys():
        results = list(pd.DataFrame(arms)['items'])
        for result in results:
            if len(list(result)) > 4:
                imp_nns = imp_nns + list(list(result))
        if(len(imp_nns)==0):
            for result in results:
                if len(list(result)) > 3:
                    imp_nns = imp_nns + list(list(result))            
        return list(set(imp_nns))
    return list(set(imp_nns))

In [30]:
imp_nns_df = books_with_arm.assign(imp_nns = books_with_arm['arm']
                                   .progress_apply(lambda arms:get_important_nouns(arms)))
imp_nns_df.head()

NameError: name 'books_with_arm' is not defined

In [31]:
imp_nns_df = imp_nns_df[['asin','imp_nns']]
imp_nns_df.head()

NameError: name 'imp_nns_df' is not defined

In [32]:
imp_nns_df.to_pickle("../data/interim/005_important_nouns.p")

NameError: name 'imp_nns_df' is not defined

In [ ]:
imp_nns_df = imp_nns_df.assign(num_of_imp_nouns = imp_nns_df['imp_nns'].progress_apply(lambda imp_nouns:len(imp_nouns)))
imp_nns_df.head()

## Some more stats

In [ ]:
For visuals:

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [ ]:
#%pip install python-decouple

In [ ]:
from decouple import config

In [ ]:
API_USERNAME = config('USER')

In [ ]:
API_KEY = config('PLOTLY_API_KEY')

In [ ]:
import chart_studio

In [ ]:
chart_studio.tools.set_credentials_file(username=API_USERNAME, api_key=API_KEY)

In [ ]:
import chart_studio.plotly as py
import plotly.offline
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [ ]:
import cufflinks as cf
cf.go_offline()
# Configure cufflings 
cf.set_config_file(offline=False, world_readable=True, theme='pearl')

In [ ]:
# Filter out synonyms again

In [ ]:
booksWithNoImportantNouns = imp_nns_df.loc[imp_nns_df['num_of_imp_nouns'] == 0]
len(booksWithNoImportantNouns)

In [ ]:
booksWithNoImportantNouns = imp_nns_df.loc[imp_nns_df['num_of_imp_nouns'] != 0]
len(booksWithNoImportantNouns)

In [ ]:
booksWithNoImportantNouns[0:20]

In [ ]:
booksWithNoImportantNouns['num_of_imp_nouns'].iplot(kind='histogram', bins=100, xTitle='Number of Important Nouns', yTitle='Number of Books')

In [ ]:
booksWithNoImportantNouns.describe()

In [ ]:
# END OF FILE